<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chhaatt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
     <script src="https://kit.fontawesome.com/0999bb6500.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 id="debug"></h1>
    <h1>Chat Application</h1>
    <div class="container">
        <div class="roomInfo">
            <div class="roomName">Roomname</div>
            <div class="onlineCountDiv">
            </div>
            <div class="onlineUsers">
            </div>

        </div>
        <div id="messageBox"></div>
        <form action="" method="get">
            <!-- <input type="text"> -->
            <textarea name="" id="input"></textarea>
        <button> <i class="fa-solid fa-paper-plane"></i> </button>
        </form>
    </div>
   
    
    <script src="/script.js"></script>
    
</body>
</html>