<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1{
            text-align: center;
        }
        .container{
            width: 30%;
            margin: auto;
            border: 2px black solid;
        }

        .container form {
            /* background-color: red; */
            display: flex;
            margin: 5px 0;
        }

        .container #input {
            resize: none;
            height: 50px;
            /* max-height: 100px; */
            flex-grow: 8;
            outline: 0;
            border: grey solid 1px;
            /* height: 50px; */
            font-size: 16px;
            padding: 4px 20px;
            border-radius: 100px;
            resize: none;
        }
        .container button{
            /* width: 10.2%; */
            flex-grow: 1;
            /* height: 100%; */
            border: 2px green solid;
            border-radius: 100px;
            color: white;
            background-color: green;
        }

        #messageBox {
            /* border: 2px black solid; */
            /* width: 30%;
            margin: auto; */
            padding: 15px;
            overflow: auto;
            scrollbar-width: none; /* For firefox */
            height: 500px;
        }
        #messageBox::-webkit-scrollbar{    /* For chrome, safari, opera */
            display: none;
        }
        .messageDiv{
            margin: 10px;
            /* background-color: gray; */
            display: flex;
            /* width: 70%; */
        }
        .message {
            /* margin: 20px; */
            background-color: rgb(71, 71, 71);
            padding: 5px;
            border-radius: 8px;
            color:white;
            display: inline;
            max-width: 80%;
        }
        .push_right{
            display: flex;
            flex-direction: row-reverse;
        }

        @media only screen and (max-width: 1024px) {
            .container {
                width: 60%;
            }
        }
        @media only screen and (max-width: 600px) {
            .container {
                width: 99.5%;
            }
        }
    </style>
     <script src="https://kit.fontawesome.com/0999bb6500.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Chat Application</h1>
    <div class="container">
        <div id="messageBox"></div>
        <form action="" method="get">
            <!-- <input type="text"> -->
            <textarea name="" id="input"></textarea>
        <button> <i class="fa-solid fa-paper-plane"></i> </button>
        </form>
    </div>
   
    
    <script src="script.js"></script>
    
</body>
</html>